$textarea-height: 40px;
:host {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  contain: content;
  max-height: 100vh;
  overflow-x: hidden;
}
#spacer {
  height: 140px;
  width: 100%;
}
#scrollable {
  max-height: 100vh;
  overflow-y: scroll;
}
mat-card {
  margin-top: 10px;
  padding: 10px;
}

textarea {
  position: absolute;
  bottom: 0;
  width: 70%;
  min-height: $textarea-height;
  height: $textarea-height;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

button#send-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: $textarea-height;
  min-height: $textarea-height;
  width: 30%;
  box-sizing: border-box;
}

#message-input-container {
  position: absolute;
  bottom: 0;
  height: $textarea-height + 20px;
  width: 100%;
  z-index: 100;
  background-color: white;
}

label {
  font-size: 10px;
}
