:host {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  contain: content;
  max-height: 100vh;
  overflow-x: hidden;
}
#spacer {
  height: 140px;
  width: 100%;
}
#scrollable {
  max-height: 100vh;
  overflow-y: scroll;
}
mat-card {
  margin-top: 10px;
  padding: 10px;
}

textarea {
  position: absolute;
  bottom: 0;
  width: 70%;
  min-height: 100px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100px;
  width: 30%;
  box-sizing: border-box;
}

#message-input-container {
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100%;
  z-index: 100;
  background-color: white;
}
