@if (coreService.currentLocale === "en-US") {
  <a href="../es-MX">
    <button id="language-toggle" mat-button>Español</button>
  </a>
} @else {
  <a href="../en-US">
    <button id="language-toggle" mat-button>English</button>
  </a>
}

<h1 i18n>Message Board</h1>
@if (coreService.savedUsername) {
  <h3 i18n>Welcome! {{ coreService.savedUsername }}</h3>
  <app-message-board></app-message-board>
} @else {
  <p i18n>Please choose a username to continue.</p>
  <input
    type="text"
    laceholder="Enter your username"
    i18n-placeholder="@@username-placeholder"
    [(ngModel)]="coreService.usernameInputBinding"
    (keyup.enter)="coreService.saveUsername()"
  />
  <button mat-button color="primary" (click)="coreService.saveUsername()" i18n>
    Save
  </button>
}
