:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  contain: content;
}
h1 {
  text-align: center;
}

input {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

#language-toggle {
  position: absolute;
  top: 0px;
  right: 10px;
}
